<div class="contenter">
  <div class="newest_product_list">
    <div class="list_title"><span>最新产品</span></div>
    <div class="list_info">
      <% @products.each do |product| %>
        <h3><%= link_to product.name, product_path(product) %></h3>
        <p><%= product.description %></p>
      <% end -%>
    </div>
  </div>

  <div class="newest_blog_list">
    <div class="list_title"><span>最新日志</span></div>
    <div class="list_info">
      <% @blogs.each do |blog| %>
        <h3><%= link_to blog.name, blog_path(blog) %></h3>
        <p><%= blog.intro %></p>
      <% end -%>
    </div>
  </div>

  <div class="newest_user_list">
    <div class="list_title"><span>最新用户</span></div>
    <div class="list_info">
      <ul>
        <% @users.each do |user| %>
          <li>
            <p class="img"><%= image_tag user.logo_url(:medium), size: '90x100' %></p>
            <p><%= user.name %></p>
          </li>
        <% end -%>
        <% @users.each do |user| %>
          <li>
            <p class="img"><%= image_tag user.logo_url(:medium), size: '90x100' %></p>
            <p><%= user.name %></p>
          </li>
        <% end -%>
      </ul>
    </div>
  </div>
</div>