<%= render 'nav'%>
<div class="contenter">
  <div class="newest_user_list">
    <div class="list_info">
      <ul>
        <% @albums.each do |album| %>
          <li>
            <p class="img"><%= image_tag album.cover %></p>
            <a href="<%= album_path(album)%>"><p><%= album.name %></p></a>
          </li>
        <% end -%>
      </ul>
    </div>
  </div>
</div>
<div class="clear"></div>
<%= will_paginate @albums, :previous_label=> '« 上一页', :next_label => '下一页 »'%>

