<%= form_for @product, :validate => true do |f| %>
  <p>
    <%= f.label :name, '产品名称：' %>
    <%= f.text_field :name%></br>
  </p>
  <p>
    <%= f.label :price, '产品价格：' %>
    <%= f.text_field :price%></br>
  </p>
  <p>
    <%= f.label :image, '产品图片：' %>
    <%= f.file_field :image%></br>
  </p>
  <p>
    <%= f.label :description, "产品描述：" %></br>
    <%= f.cktext_area("description",:width => '100%')  %>
  </p>
  <p>
    <%= f.submit '保存' %>
  </p>
<% end %>